html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
	font-family: "Source Code Pro", Monaco, sans-serif;
}
body {
	background-color: black;
}
section {
	background-color: RGBA(253, 246, 226, 1);
	width: 90%;
	margin: 10px 5%;
	border-radius: 5px;
	padding: 5px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	text-decoration: underline;
	margin: 2px;
}
h2 {
	font-size: 32px;
	font-weight: bold;
	text-decoration: underline;
	margin: 2px;
}
h3 {
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
	margin: 2px;
}
h4 {
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	margin: 2px;
}
h5 {
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin: 6px;
}
h6 {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	margin: 2px;
}

p {
	line-height: 1.5;
	margin: 10px;
}

img {
	margin-top: 10px;
	margin-bottom: 10px;
}

#NWExteriorsLogo {
	margin: -60px -40px -40px -60px;
}

#profilePhoto {
	border-radius: 100%;
}

ul {
	list-style: square inside;
	margin: 10px;
}

a:visited {
	color: brown;
}

#heading {
	text-align: center;
}

#interests {
	text-align: center;
}

