* {
  box-sizing: border-box;
}

h3 {
  display: inline-block;
  height: 8%;
  padding: 0;
  margin: 0;
}

body {
  background-color: RGBA(255, 255, 255, 1);
  text-align: center;
}

#main {
  padding: 20px;
  background-color: RGBA(43, 62, 80, 1);
  width: 100%;
  border-radius: 10px;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#map {
  height: 500px;
  width: 65%;
  float: left;
}

#container {
  height: 330px;
  width: 33.5%;
  float: right;
  background-color: RGBA(215, 218, 219, 1);
  padding: 10px;
  border-radius: 10px;
}

#container div {
  height: 9%;
  width: 100%;
  background-color: RGBA(106, 188, 221, 1);
  border-radius: 5px;
  margin-top:3px;
  padding:1px;
}

div#clear, div#delete {
  background-color: RGBA(255, 64, 67, 1);
  margin-top: 5px;
}

img {
  height: 80%;
  display: inline-block;
  margin-left: 10px;
}

p {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  height: 90%;
}

.canopy {
  height: 20px;
  width: 30px;
  display: inline-block;
}

h1 {
  display: inline-block;
}

#info-container {
  background-color: RGBA(215, 218, 219, 1);
  width: 33.5%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  float: right;
  height: 151px;
}
