* {
  box-sizing: border-box;
}

#map {
  height: 400px;
  width: 60%;
  float: left;
}

#container {
  height: 400px;
  width: 40%;
  float: left;
}

#container div {
  height: 10%;
  width: 100%;
  font-size: 24px;
}

img {
  height: 90%;
  display: inline-block;
  margin-left: 10px;
}
p {
  display: inline-block;
  margin-right: 10px;
}

.canopy {
  height: 20px;
  width: 30px;
  display: inline-block;
}

h1 {
  display: inline-block;
}
