* {
  box-sizing: border-box;
}

header p {
  font-family: "Trebuchet MS";
  padding: 0;
  margin-top:4px;
}

h3 {
  display: inline-block;
  height: 8%;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  font-family: "Trebuchet MS";
}

h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-family: "Trebuchet MS";
  margin-top: 15px;
}


body {
  background-color: RGBA(255, 255, 255, 1);
}

header {
  text-align: center;
  font-family: "Trebuchet MS";
}

#outer-header {
  height: 114px;
  background-color: RGBA(43, 62, 80, 1);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#inner-header {
  height: 94px;
  background-color: RGBA(255, 255, 255, 1);
  width: 95%;
  border-radius: 10px;
  margin: auto;
}

#main {
  padding: 20px;
  background-color: RGBA(43, 62, 80, 1);
  width: 100%;
  border-radius: 10px;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#map {
  height: 500px;
  width: 65%;
  float: left;
}

#container {
  height: 330px;
  width: 33.5%;
  float: right;
  background-color: RGBA(215, 218, 219, 1);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#container div {
  height: 9.25%;
  width: 100%;
  background-color: RGBA(106, 188, 221, 1);
  border-radius: 5px;
  margin-top:3px;
  padding:1px;
}

div#clear, div#delete {
  background-color: RGBA(255, 64, 67, 1);
  margin-top: 5px;
}

img {
  height: 80%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
}

#container p {
  display: inline-block;
  margin: 3px 10px;
  font-size: 16px;
  height: 90%;
  padding: 0;
}

#info-container p {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  padding: 0;
}

.canopy {
  height: 20px;
  width: 30px;
  display: inline-block;
}


#info-container {
  background-color: RGBA(215, 218, 219, 1);
  width: 33.5%;
  padding: 20px;
  padding-top:3px;
  margin-top: 20px;
  border-radius: 10px;
  float: right;
  height: 151px;
  text-align: center;
}

.button-like {
  cursor: pointer;
}

.button-like:active {
  margin-right: -5px;
  margin-left: +5px;
}

#secret {
  position: fixed;
  bottom:250px;
  left: 200px;
  font-size: 36px;
  color: blue;
}
